[Desktop Entry]
Version=1.0
Type=Link
Name=Mini Jekyll (.tk)
GenericName=Mini Jekyll
StartupNotify=false
URL=http://minijekyll.tk
URL=.
Comment="this folder"
Icon=folder
Categories=website
