[Desktop Entry]
Version=1.0
Type=Link
Name=jekyll.tk
GenericName=Mini Jekyll
StartupNotify=false
URL=http://jekyll.tk
URL=.
Name=this
Comment="this folder"
Icon=folder
Categories=website
